body{
    background-color:rgb(51, 52, 60);
    margin: 0;
}
.functionalBtn{
    background-color:rgb(84, 86, 99);
    width: 250px;
    margin: 120px;
    margin-left: 75px;
    border-radius: 10px;
    
}
.Btn{
    background-color:rgb(84, 86, 99);
    width: 250px;
    border-radius: 10px;
    
}

p{
    color: aliceblue;
    font-size: 20pt;
}
.pt{
    color: aliceblue;
    font-size: 20pt;
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    height:100px;
    background-color: rgb(74, 73, 81);
    padding: 10px;
    width: 100%;
   
}